<%- include('header') %>

        <%= w %>

        <div class="con">
            <form action="/connexion" method="POST">
                <label for="txtUtilisateur">Utilisateur</label>
                <input type="text" name="txtUtilisateur" id="txtUtilisateur">

                <label for="txtMdp">Mot de passe : </label>
                <input type="text" name="txtMdp" id="txtMdp">
                
                <button type="submit"> Se connecter</button>
            </form>
        </div>
    </div>
</body>
</html>