<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu">
            <button class="btnconnect">
                Connexion
            </button>
            <button class="btnewission">
                Nouvelle Mission
            </button>
            <button class="btnvalidation">
                Validation des missions
            </button>
            <button class="btnpaiement">
                Paiement des frais
            </button>
            <button class="btnparametre">
                Paramétrage
            </button>

        </div>
        
    </div>
    <form action="">
        <div class="mission">
            <label for="villeA">Ville A
                <input type="text" name="villeA" id="villeA">
            </label>
            <label for="villeB">Ville B
                <input type="text" name="villeB" id="villeB">
            </label>
            <label for="distance">Distance
                <input type="text" name="Distance" id="Distance">
            </label>
            
        </div>
        <div class="date">
            <label for="dateDebut">Date Debut: 
                <input type="date" name="dateDebut" id="dateDebut">
            </label>
            <label for="dateFin">Date Fin: 
                <input type="date" name="dateFin" id="dateFin">
            </label>
        </div>

        <button type="submit">Créer la nouvelle mission</button>
    </form>
</body>
</html>